@font-face {
    font-family: DejaVuSansMono;
    src: url(../fonts/DejaVuSansMono.ttf);
}
@font-face {
    font-family: DejaVuSansMonoBold;
    src: url(../fonts/DejaVuSansMono-Bold.ttf);
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: DejaVuSansMono;
    background-color: #1f1f1f;
    background-attachment: fixed; 
    color: white;
}

h1.title{
    text-align: center;
}

.main-container{
    max-width: 1200px;
    margin-inline: auto;
}

.tabs-container{
    padding-inline: 1rem;
    padding-bottom: 1rem;
}

.tabs{
    margin-top: 7%;
    display: grid;
    width: 100%;
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
    align-items: center;
    justify-items: center;
}

.tabs h2{
    display: inline-block;
    cursor: pointer;
    margin: 0%;
}

.tabs h2:hover{
    border-bottom: 4px solid white;
}

.tabs h2.underline{
    border-bottom: 4px solid white;
}

.content{
    margin-top: 4%;
    overflow-y: scroll;
    height: 1000px;
}

.library_item{
    display: grid;
    width: 100%;
    grid-template-columns: 40% 10% 20% 10% 10% 10%;
    align-items: center;
    justify-items: center;
}

.media_name{
    width: 100%
}

.library_item:hover{
    background-color: #353535;
    cursor: pointer;
}   

.item-info{
    display:  flex;
    width: 60%;
    justify-content: space-between;
}

.hidden{
    visibility: hidden; 
}

.library_item:hover .hidden{
    visibility: visible;
}

.player-small{
    border: 3px solid #353535;
    position: absolute;
    right: 80px;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    width: 30em;
    height: 20rem;
}

.media-modal{
    display: None; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}