@font-face {
    font-family: DejaVuSansMono;
    src: url(../fonts/DejaVuSansMono.ttf);
}
@font-face {
    font-family: DejaVuSansMonoBold;
    src: url(../fonts/DejaVuSansMono-Bold.ttf);
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: DejaVuSansMono;
    background-color: #1f1f1f;
    background-attachment: fixed; 
    color: white;
}

h1.title{
    text-align: center;
}

.hidden{
    visibility: hidden; 
}

.main-container{
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 1rem;
}

/* Modal Rules */
.modal{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(23, 23, 23, 0.4);
}

.modal-content{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    top: 15%;
    max-width: 800px;
    z-index: 1;
}

img{
    max-width: 50%;
}

.modal-options{
    background: #353535;
}

.modal-actions{
    display: grid;
    width: 100%;
    gap: 15%;
    grid-template-columns: 50% 35%;
}

.modal-actions button{
    padding: 1rem;
    background-color: #d5d5d5;
    opacity: 0.75;
    font-family: DejaVuSansMonoBold;
}

.modal-actions button:hover{
    opacity: 1;
}

.modal-content.disabled{
    display: none;
}


.media-editor{

}

/* Tab rules */

.tabs-container{
    padding-inline: 1rem;
    padding-bottom: 1rem;
}

.tabs{
    margin-top: 7%;
    display: grid;
    width: 100%;
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
    align-items: center;
    justify-items: center;
}

.tabs h2{
    display: inline-block;
    cursor: pointer;
    margin: 0%;
}

.tabs h2:hover{
    border-bottom: 4px solid white;
}

.tabs h2.underline{
    border-bottom: 4px solid white;
}

/* Content rules for each tab */

.content{
    margin-top: 4%;
    overflow-y: scroll;
    height: 1000px;
}

/* Library rules */

.library-item{
    display: grid;
    width: 100%;
    grid-template-columns: 40% 15% 15% 15% 15%;
    align-items: center;
    justify-items: center;
}

.media-name{
    width: 100%
}

.edit{
    background-color: #d5d5d5;
    opacity: 0.75;
    width: 100%;
    height: 100%;
    border: none;
    font-family: DejaVuSansMonoBold;
}

.edit:hover{
    opacity: 1;
}

.library-item:hover{
    background-color: #353535;
    cursor: pointer;
}   

.item-info{
    display:  flex;
    width: 60%;
    justify-content: space-between;
}

.library-item:hover .hidden{
    visibility: visible;
}






















.player-small{
    border: 3px solid #353535;
    position: absolute;
    right: 80px;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    width: 30em;
    height: 20rem;
}
