@font-face {
    font-family: DejaVuSansMono;
    src: url(../fonts/DejaVuSansMono.ttf);
}
@font-face {
    font-family: DejaVuSansMonoBold;
    src: url(../fonts/DejaVuSansMono-Bold.ttf);
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: DejaVuSansMono;
    background-color: #1f1f1f;
    background-attachment: fixed; 
    color: white;
}

input[type="text"]
{
    font-family: DejaVuSansMono
}

h1.title{
    text-align: center;
}

.hidden{
    visibility: hidden; 
}

.main-container{
    max-width: 1200px;
    margin-inline: auto;
    padding-inline: 1rem;
    min-height: 700px;
}

/* Modal Rules */
.modal{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(23, 23, 23, 0.4);
}

.modal-content{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    top: 15%;
    max-width: 800px;
    z-index: 1;
    padding: 1.5rem;
}

.media-edit-modal{
    background-color: #353535;
}

.media-item-details {
    display: grid;
    grid-template-columns: 50% 50%;
}

.media-item-details div{
    border: 1rem;;
}
img{
    max-width: 70%;
}

.modal-options{
    margin-top: 1rem;
    background: #353535;
    display: flex;
    flex-direction: column;
}

.modal-actions{
    display: grid;
    width: 100%;
    gap: 15%;
    grid-template-columns: 50% 35%;
    align-items: center;
    justify-items: center;
}

.modal-options{

}

.modal-actions button{
    padding: 1rem;
    background-color: #d5d5d5;
    opacity: 0.75;
    font-family: DejaVuSansMonoBold;
}

.modal-actions button:hover{
    opacity: 1;
}

.modal-content.disabled{
    display: none;
}

/* Tab rules */
.tabs-container{
    padding-inline: 1rem;
    padding-bottom: 1rem;
}

.tabs{
    margin-top: 7%;
    display: grid;
    width: 100%;
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
    align-items: center;
    justify-items: center;
}

.tabs h2{
    display: inline-block;
    cursor: pointer;
    margin: 0%;
}

.tabs h2:hover{
    border-bottom: 4px solid white;
}

.tabs h2.underline{
    border-bottom: 4px solid white;
}

/* Content rules for each tab */

.content{
    margin-top: 4%;
    overflow-y: scroll;
    min-height: 500px;
}

/* Library rules */

.library-item{
    display: grid;
    width: 100%;
    grid-template-columns: 40% 15% 15% 15% 15%;
    align-items: center;
    justify-items: center;
}

.media-name{
    width: 100%
}

.media-name p{
    margin-inline-start: 1rem;
}

.edit{
    background-color: #d5d5d5;
    opacity: 0.75;
    width: 100%;
    height: 100%;
    border: none;
    font-family: DejaVuSansMonoBold;
}

.edit:hover{
    opacity: 1;
}

.library-item:hover{
    background-color: #353535;
    cursor: pointer;
}   

.item-info{
    display:  flex;
    width: 60%;
    justify-content: space-between;
}

.library-item:hover .hidden{
    visibility: visible;
}









/* Action pane */

.action-pane{
    position: absolute;
    bottom: 0;
}

.action-media-details{
    display: grid;
    grid-template-columns: 15% 70% 15%;
    margin-bottom: 1rem;
    align-items: center;
    justify-items: center;
}

/* Action button */

.action-button{
    background-color: #d5d5d5;
    opacity: 0.75;
    padding: 1rem;
    width: 100%;
    border: none;
    font-family: DejaVuSansMonoBold;
}

.action-button:hover{
    opacity: 1;
}

.action-media-info-restart{
    display: flex;
    align-items: center;
}

.action-media-name{
    font-size: 1.25rem;
    border-top: 2px solid #1f1f1f;
}

.action-media-name:hover{
    border-top: 0px solid #1f1f1f;
    font-family: DejaVuSansMonoBold;
    border-bottom: 2px solid white;
    cursor: pointer;
}

.action-media-restart{
    margin-left: 1rem;
    max-width: 2rem;
    max-height: 2rem;
}

.action-media-restart{
    cursor: pointer;
}

/* Progress bar*/

.player-progress-bar{
    width: 100%;
    height: 1rem;
    background-color: blue;
}

#progress-bar{
    height: 100%;
}
/* Media player */

.player{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    width: 1200px;
    height: 7.5rem;
}

#backback{

}

#back{

}
#pause{

}

#forward{

}

#forwardforward{

}
/* On click of title, show the stats with a cover image for what is playing */
